My first peer graded assignment

Hi, this is my first peer graded assignment. I hope you like it.

Data Science languages are:
-  Python
-  SQL
-  R

|Data science libraries|
|---|
|Pandas,NumPy|
|Matplotlib, Seaborn|
|Scikit-learn, keras|

|Data Science Tools|
|---|
|Watson Studio|
|Hue|
|R-Studio|

Airthmetic Example:
In [_]: 4+2
Out [ ]: 6

In [2]:
4*5

20

In [3]:
2+5

7

In [6]:
minutes = 300
hours = minutes / 60

Objectives:
1. Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
2. Exercise 3 - Create a markdown cell for an introduction. (1 pt)
3. Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
4. Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
5. Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
6. Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
7. Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)
8. Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)
9. Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
10. Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)
11. Exercise 12 - Share your notebook through GitHub (3 pts)
12. Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

BY SRIJAN GUPTA